In [1]:
import pandas as pd
import numpy as np

### Pandas, EDA

In [2]:
data = pd.read_csv('TopAnimatedImDb.csv')
data.head()

,Title,Rating,Votes,Gross,Genre,Metascore,Certificate,Director,Year,Description,Runtime
0,Sen to Chihiro no kamikakushi,8.6,"747,148",$10.06M,"Adventure, Family",96.0,U,Hayao Miyazaki,2001,"[""\nDuring her family's move to the suburbs, a...",125 min
1,The Lion King,8.5,"1,041,158",$422.78M,"Adventure, Drama",88.0,U,Roger Allers,1994,['\nLion prince Simba and his father are targe...,88 min
2,Hotaru no haka,8.5,"272,469",NaN,"Drama, War",94.0,U,Isao Takahata,1988,['\nA young boy and his little sister struggle...,89 min
3,Kimi no na wa.,8.4,"259,975",$5.02M,"Drama, Fantasy",79.0,U,Makoto Shinkai,2016,['\nTwo strangers find themselves linked in a ...,106 min
4,Spider-Man: Into the Spider-Verse,8.4,"510,227",$190.24M,"Action, Adventure",87.0,U,Bob Persichetti,2018,['\nTeen Miles Morales becomes the Spider-Man ...,117 min

In [3]:
data.shape

(85, 11)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        85 non-null     object
 1   Rating       85 non-null     float64
 2   Votes        85 non-null     object
 3   Gross        50 non-null     object
 4   Genre        85 non-null     object
 5   Metascore    80 non-null     float64
 6   Certificate  84 non-null     object
 7   Director     85 non-null     object
 8   Year         85 non-null     int64
 9   Description  85 non-null     object
 10  Runtime      85 non-null     object
dtypes: float64(2), int64(1), object(8)
memory usage: 7.4+ KB

In [5]:
data.isnull().sum()

Title           0
Rating          0
Votes           0
Gross          35
Genre           0
Metascore       5
Certificate     1
Director        0
Year            0
Description     0
Runtime         0
dtype: int64

In [6]:
data[data.Gross.isnull() + data.Metascore.isnull() + data.Certificate.isnull()]

,Title,Rating,Votes,Gross,Genre,Metascore,Certificate,Director,Year,Description,Runtime
2,Hotaru no haka,8.5,"272,469",NaN,"Drama, War",94.0,U,Isao Takahata,1988,['\nA young boy and his little sister struggle...,89 min
12,Kimetsu no Yaiba: Mugen Ressha-Hen,8.2,"55,255",NaN,"Action, Adventure",72.0,UA,Haruo Sotozaki,2020,"[""\nAfter his family was brutally murdered and...",117 min
15,Koe no katachi,8.1,"78,876",NaN,Drama,78.0,16,Naoko Yamada,2016,['\nA young man is ostracized by his classmate...,130 min
16,Klaus,8.1,"146,042",NaN,"Adventure, Comedy",65.0,7,Sergio Pablos,2019,"[""\nA simple act of kindness always sparks ano...",96 min
17,Ôkami kodomo no Ame to Yuki,8.1,"44,668",NaN,"Drama, Family",71.0,U,Mamoru Hosoda,2012,['\nAfter her werewolf lover unexpectedly dies...,117 min
18,Mary and Max.,8.1,"176,615",NaN,"Comedy, Drama",NaN,NaN,Adam Elliot,2009,['\nA tale of friendship between two unlikely ...,92 min
24,WolfWalkers,8.0,"31,618",NaN,"Adventure, Family",87.0,UA,Tomm Moore,2020,['\nA young apprentice hunter and her father j...,103 min
25,Soul,8.0,"319,513",NaN,"Adventure, Comedy",83.0,U,Pete Docter,2020,"['\nAfter landing the gig of a lifetime, a New...",100 min
26,Zootopia,8.0,"490,842",NaN,"Adventure, Comedy",78.0,U,Byron Howard,2016,"['\nIn a city of anthropomorphic animals, a ro...",108 min
27,Kaguya-hime no Monogatari,8.0,"46,319",NaN,"Drama, Family",89.0,U,Isao Takahata,2013,['\nFound inside a shining stalk of bamboo by ...,137 min
28,Song of the Sea,8.0,"58,124",NaN,"Adventure, Drama",85.0,PG,Tomm Moore,2014,"['\nBen, a young Irish boy, and his little sis...",93 min
29,Persepolis,8.0,"94,517",NaN,"Biography, Drama",90.0,PG-13,Vincent Paronnaud,2007,['\nA precocious and outspoken Iranian girl gr...,96 min
31,Shin seiki Evangelion Gekijô-ban: Air/Magokoro...,8.0,"53,842",NaN,"Action, Drama",NaN,Not Rated,Hideaki Anno,1997,['\nConcurrent theatrical ending of the TV ser...,87 min
32,Pâfekuto burû,8.0,"74,701",NaN,"Crime, Drama",NaN,A,Satoshi Kon,1997,['\nA pop singer gives up her career to become...,81 min
34,Beauty and the Beast,8.0,"450,780",NaN,"Family, Fantasy",95.0,U,Gary Trousdale,1991,"[""\nA prince cursed to spend his days as a hid...",84 min
35,Akira,8.0,"184,356",NaN,"Action, Drama",67.0,UA,Katsuhiro Ôtomo,1988,['\nA secret military project endangers Neo-To...,124 min
36,Tenkû no shiro Rapyuta,8.0,"165,250",NaN,"Adventure, Family",78.0,U,Hayao Miyazaki,1986,['\nA young boy and a girl with a magic crysta...,125 min
37,Kaze no tani no Naushika,8.0,"168,233",NaN,"Adventure, Sci-Fi",86.0,U,Hayao Miyazaki,1984,['\nWarrior and pacifist Princess Nausicaä des...,117 min
38,Fantastic Mr. Fox,7.9,"228,963",NaN,"Adventure, Comedy",83.0,U,Wes Anderson,2009,"[""\nAn urbane fox cannot resist returning to h...",87 min
39,Shrek,7.9,"668,156",NaN,"Adventure, Comedy",84.0,U,Andrew Adamson,2001,['\nA mean lord exiles fairytale creatures to ...,90 min
40,Toy Story 2,7.9,"574,778",NaN,"Adventure, Comedy",88.0,U,John Lasseter,1999,"['\nWhen Woody is stolen by a toy collector, B...",92 min
41,Mimi wo sumaseba,7.9,"62,107",NaN,"Drama, Family",75.0,U,Yoshifumi Kondô,1995,['\nA love story between a girl who loves read...,111 min
42,Kôkaku Kidôtai,7.9,"142,032",NaN,"Action, Crime",76.0,UA,Mamoru Oshii,1995,['\nA cyborg policewoman and her partner hunt ...,83 min
43,The Nightmare Before Christmas,7.9,"330,540",NaN,"Family, Fantasy",82.0,U,Henry Selick,1993,"['\nJack Skellington, king of Halloween Town, ...",76 min
44,Doragon bôru chô: Burorî,7.8,"27,232",NaN,"Action, Adventure",59.0,UA,Tatsuya Nagamine,2018,"[""\nGoku and Vegeta encounter Broly, a Saiyan ...",100 min
45,Isle of Dogs,7.8,"166,539",NaN,"Adventure, Comedy",82.0,U,Wes Anderson,2018,"[""\nSet in Japan, Isle of Dogs follows a boy's...",101 min
46,Loving Vincent,7.8,"57,727",NaN,"Biography, Crime",62.0,UA,Dorota Kobiela,2017,"[""\nIn a story depicted in oil painted animati...",94 min
47,Big Hero 6,7.8,"456,307",NaN,"Action, Adventure",74.0,U,Don Hall,2014,['\nA special bond develops between plus-sized...,102 min
48,How to Train Your Dragon 2,7.8,"332,536",NaN,"Action, Adventure",77.0,U,Dean DeBlois,2014,['\nWhen Hiccup and Toothless discover an ice ...,102 min
49,Tôkyô goddofâzâzu,7.8,"39,951",NaN,"Adventure, Comedy",73.0,UA,Satoshi Kon,2003,"['\nOn Christmas Eve, three homeless people li...",90 min
52,Jûbê ninpûchô,7.8,"37,510",NaN,"Action, Adventure",NaN,A,Yoshiaki Kawajiri,1993,['\nA vagabond swordsman is aided by a beautif...,94 min
54,Majo no takkyûbin,7.8,"143,013",NaN,"Adventure, Family",83.0,U,Hayao Miyazaki,1989,"['\nA young witch, on her mandatory year of in...",103 min
65,Toki o kakeru shôjo,7.7,"66,081",NaN,"Adventure, Comedy",NaN,U,Mamoru Hosoda,2006,['\nA high-school girl named Makoto acquires t...,98 min
71,Kurenai no buta,7.7,"89,026",NaN,"Adventure, Comedy",83.0,U,Hayao Miyazaki,1992,"['\nIn 1930s Italy, a veteran World War I pilo...",94 min
75,The Mitchells vs the Machines,7.6,"105,707",NaN,"Adventure, Comedy",81.0,13,Michael Rianda,2021,"[""\nA quirky, dysfunctional family's road trip...",114 min

In [7]:
data.describe()

          Rating  Metascore         Year
count  85.000000  80.000000    85.000000
mean    7.922353  80.850000  2003.211765
std     0.257449   8.965616    15.255830
min     7.600000  59.000000  1937.000000
25%     7.700000  74.000000  1995.000000
50%     7.900000  82.000000  2007.000000
75%     8.100000  87.000000  2014.000000
max     8.600000  96.000000  2021.000000

In [8]:
data.corr()

             Rating  Metascore      Year
Rating     1.000000   0.352156  0.105473
Metascore  0.352156   1.000000 -0.204856
Year       0.105473  -0.204856  1.000000

In [9]:
for c in data.columns:
    print(f'Уникальные значения признака {c}:')
    print(data[c].unique())
    print()
    print(f'Количество уникальных значений признака {c}: {len(data[c].unique())}')
    print()

Уникальные значения признака Title:
['Sen to Chihiro no kamikakushi' 'The Lion King' 'Hotaru no haka'
 'Kimi no na wa.' 'Spider-Man: Into the Spider-Verse' 'Coco' 'WALL·E'
 'Mononoke-hime' 'Up' 'Toy Story 3' 'Toy Story' 'Inside Out'
 'Kimetsu no Yaiba: Mugen Ressha-Hen' 'Hauru no ugoku shiro'
 'Finding Nemo' 'Koe no katachi' 'Klaus' 'Ôkami kodomo no Ame to Yuki'
 'Mary and Max.' 'How to Train Your Dragon' 'Ratatouille' 'Monsters, Inc.'
 'The Iron Giant' 'Tonari no Totoro' 'WolfWalkers' 'Soul' 'Zootopia'
 'Kaguya-hime no Monogatari' 'Song of the Sea' 'Persepolis'
 'The Incredibles'
 'Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni'
 'Pâfekuto burû' 'Aladdin' 'Beauty and the Beast' 'Akira'
 'Tenkû no shiro Rapyuta' 'Kaze no tani no Naushika' 'Fantastic Mr. Fox'
 'Shrek' 'Toy Story 2' 'Mimi wo sumaseba' 'Kôkaku Kidôtai'
 'The Nightmare Before Christmas' 'Doragon bôru chô: Burorî'
 'Isle of Dogs' 'Loving Vincent' 'Big Hero 6' 'How to Train Your Dragon 2'
 'Tôkyô goddofâzâzu' 'Sennen joyû' 'Cowboy Bebop: Tengoku no tobira'
 'Jûbê ninpûchô' 'Batman: Mask of the Phantasm' 'Majo no takkyûbin'
 'Kubo and the Two Strings' 'The Breadwinner' 'Omoide no Mânî'
 'Ma vie de Courgette' 'Kaze tachinu' 'Toy Story 4' 'Wreck-It Ralph'
 'Le Petit Prince' 'The Lego Movie' 'Papurika' 'Toki o kakeru shôjo'
 'Tangled' 'Coraline' 'Les triplettes de Belleville' 'Waking Life'
 'South Park: Bigger, Longer & Uncut' 'Kurenai no buta'
 'Who Framed Roger Rabbit' 'La planète sauvage' 'Fantasia'
 'The Mitchells vs the Machines' 'Incredibles 2' 'Moana' 'Despicable Me'
 'Gake no ue no Ponyo' 'Kung Fu Panda' 'Mulan' 'The Little Mermaid'
 'The Jungle Book' 'Snow White and the Seven Dwarfs']

Количество уникальных значений признака Title: 85

Уникальные значения признака Rating:
[8.6 8.5 8.4 8.3 8.2 8.1 8.  7.9 7.8 7.7 7.6]

Количество уникальных значений признака Rating: 11

Уникальные значения признака Votes:
['747,148' '1,041,158' '272,469' '259,975' '510,227' '492,081' '1,100,175'
 '388,925' '1,029,395' '826,193' '979,994' '701,106' '55,255' '387,977'
 '1,031,038' '78,876' '146,042' '44,668' '176,615' '730,922' '721,458'
 '896,964' '192,045' '333,845' '31,618' '319,513' '490,842' '46,319'
 '58,124' '94,517' '725,314' '53,842' '74,701' '412,772' '450,780'
 '184,356' '165,250' '168,233' '228,963' '668,156' '574,778' '62,107'
 '142,032' '330,540' '27,232' '166,539' '57,727' '456,307' '332,536'
 '39,951' '27,967' '48,674' '37,510' '50,800' '143,013' '128,540' '25,319'
 '40,332' '25,421' '85,123' '245,779' '418,352' '61,997' '352,065'
 '82,642' '66,081' '447,447' '224,221' '54,466' '64,147' '204,110'
 '89,026' '200,051' '31,226' '96,094' '105,707' '292,218' '329,295'
 '542,379' '142,408' '463,897' '284,542' '260,026' '181,528' '197,860']

Количество уникальных значений признака Votes: 85

Уникальные значения признака Gross:
['$10.06M' '$422.78M' nan '$5.02M' '$190.24M' '$209.73M' '$223.81M'
 '$2.38M' '$293.00M' '$415.00M' '$191.80M' '$356.46M' '$4.71M' '$380.84M'
 '$217.58M' '$206.45M' '$289.92M' '$23.16M' '$1.11M' '$261.44M' '$217.35M'
 '$0.19M' '$1.00M' '$5.62M' '$48.02M' '$0.31M' '$0.77M' '$0.29M' '$5.21M'
 '$434.04M' '$189.42M' '$1.34M' '$257.76M' '$0.88M' '$200.82M' '$75.29M'
 '$7.00M' '$2.89M' '$52.04M' '$156.45M' '$76.41M' '$608.58M' '$248.76M'
 '$251.51M' '$15.09M' '$215.43M' '$120.62M' '$111.54M' '$141.84M'
 '$184.93M']

Количество уникальных значений признака Gross: 50

Уникальные значения признака Genre:
[' Adventure, Family' ' Adventure, Drama' ' Drama, War' ' Drama, Fantasy'
 ' Action, Adventure' ' Adventure, Comedy' ' Adventure, Fantasy' ' Drama'
 ' Drama, Family' ' Comedy, Drama' ' Comedy, Family' ' Biography, Drama'
 ' Action, Drama' ' Crime, Drama' ' Family, Fantasy' ' Adventure, Sci-Fi'
 ' Action, Crime' ' Biography, Crime' ' Comedy, Fantasy' ' Sci-Fi']

Количество уникальных значений признака Genre: 20

Уникальные значения признака Metascore:
[96. 88. 94. 79. 87. 81. 95. 76. 92. 72. 80. 90. 78. 65. 71. nan 75. 85.
 86. 83. 89. 67. 84. 82. 59. 62. 74. 77. 73. 70. 61. 91.]

Количество уникальных значений признака Metascore: 32

Уникальные значения признака Certificate:
['U' 'UA' '16' '7' nan 'PG' 'PG-13' 'Not Rated' 'A' 'R' '13']

Количество уникальных значений признака Certificate: 11

Уникальные значения признака Director:
['Hayao Miyazaki' 'Roger Allers' 'Isao Takahata' 'Makoto Shinkai'
 'Bob Persichetti' 'Lee Unkrich' 'Andrew Stanton' 'Pete Docter'
 'John Lasseter' 'Haruo Sotozaki' 'Naoko Yamada' 'Sergio Pablos'
 'Mamoru Hosoda' 'Adam Elliot' 'Dean DeBlois' 'Brad Bird' 'Tomm Moore'
 'Byron Howard' 'Vincent Paronnaud' 'Hideaki Anno' 'Satoshi Kon'
 'Ron Clements' 'Gary Trousdale' 'Katsuhiro Ôtomo' 'Wes Anderson'
 'Andrew Adamson' 'Yoshifumi Kondô' 'Mamoru Oshii' 'Henry Selick'
 'Tatsuya Nagamine' 'Dorota Kobiela' 'Don Hall' "Shin'ichirô Watanabe"
 'Yoshiaki Kawajiri' 'Kevin Altieri' 'Travis Knight' 'Nora Twomey'
 'Hiromasa Yonebayashi' 'Claude Barras' 'Josh Cooley' 'Rich Moore'
 'Mark Osborne' 'Phil Lord' 'Nathan Greno' 'Sylvain Chomet'
 'Richard Linklater' 'Trey Parker' 'Robert Zemeckis' 'René Laloux'
 'James Algar' 'Michael Rianda' 'Pierre Coffin' 'Tony Bancroft'
 'Wolfgang Reitherman' 'William Cottrell']

Количество уникальных значений признака Director: 55

Уникальные значения признака Year:
[2001 1994 1988 2016 2018 2017 2008 1997 2009 2010 1995 2015 2020 2004
 2003 2019 2012 2007 1999 2013 2014 1992 1991 1986 1984 1993 1989 2006
 1973 1940 2021 1998 1967 1937]

Количество уникальных значений признака Year: 34

Уникальные значения признака Description:
['["\\nDuring her family\'s move to the suburbs, a sullen 10-year-old girl wanders into a world ruled by gods, witches, and spirits, and where humans are changed into beasts."]'
 "['\\nLion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.']"
 "['\\nA young boy and his little sister struggle to survive in Japan during World War II.']"
 "['\\nTwo strangers find themselves linked in a bizarre way. When a connection forms, will distance be the only thing to keep them apart?']"
 "['\\nTeen Miles Morales becomes the Spider-Man of his universe, and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.']"
 '["\\nAspiring musician Miguel, confronted with his family\'s ancestral ban on music, enters the Land of the Dead to find his great-great-grandfather, a legendary singer."]'
 "['\\nIn the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.']"
 '["\\nOn a journey to find the cure for a Tatarigami\'s curse, Ashitaka finds himself in the middle of a war between the forest gods and Tatara, a mining colony. In this quest he also meets San, the Mononoke Hime."]'
 "['\\n78-year-old Carl Fredricksen travels to Paradise Falls in his house equipped with balloons, inadvertently taking a young stowaway.']"
 '["\\nThe toys are mistakenly delivered to a day-care center instead of the attic right before Andy leaves for college, and it\'s up to Woody to convince the other toys that they weren\'t abandoned and to return home."]'
 '["\\nA cowboy doll is profoundly threatened and jealous when a new spaceman action figure supplants him as top toy in a boy\'s bedroom."]'
 "['\\nAfter young Riley is uprooted from her Midwest life and moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust and Sadness - conflict on how best to navigate a new city, house, and school.']"
 '["\\nAfter his family was brutally murdered and his sister turned into a demon, Tanjiro Kamado\'s journey as a demon slayer began. Tanjiro and his comrades embark on a new mission aboard the Mugen Train, on track to despair."]'
 "['\\nWhen an unconfident young woman is cursed with an old body by a spiteful witch, her only chance of breaking the spell lies with a self-indulgent yet insecure young wizard and his companions in his legged, walking castle.']"
 "['\\nAfter his son is captured in the Great Barrier Reef and taken to Sydney, a timid clownfish sets out on a journey to bring him home.']"
 "['\\nA young man is ostracized by his classmates after he bullies a deaf girl to the point where she moves away. Years later, he sets off on a path for redemption.']"
 '["\\nA simple act of kindness always sparks another, even in a frozen, faraway place. When Smeerensburg\'s new postman, Jesper, befriends toymaker Klaus, their gifts melt an age-old feud and deliver a sleigh full of holiday traditions."]'
 "['\\nAfter her werewolf lover unexpectedly dies in an accident while hunting for food for their children, a young woman must find ways to raise the werewolf son and daughter that she had with him while keeping their trait hidden from society.']"
 "['\\nA tale of friendship between two unlikely pen pals: Mary, a lonely, eight-year-old girl living in the suburbs of Melbourne, and Max, a forty-four-year old, severely obese man living in New York.']"
 "['\\nA hapless young Viking who aspires to hunt dragons becomes the unlikely friend of a young dragon himself, and learns there may be more to the creatures than he assumed.']"
 "['\\nA rat who can cook makes an unusual alliance with a young kitchen worker at a famous Paris restaurant.']"
 "['\\nIn order to power the city, monsters have to scare children so that they scream. However, the children are toxic to the monsters, and after a child gets through, two monsters realize things may not be what they think.']"
 "['\\nA young boy befriends a giant robot from outer space that a paranoid government agent wants to destroy.']"
 "['\\nWhen two girls move to the country to be near their ailing mother, they have adventures with the wondrous forest spirits who live nearby.']"
 "['\\nA young apprentice hunter and her father journey to Ireland to help wipe out the last wolf pack. But everything changes when she befriends a free-spirited girl from a mysterious tribe rumored to transform into wolves by night.']"
 "['\\nAfter landing the gig of a lifetime, a New York jazz pianist suddenly finds himself trapped in a strange land between Earth and the afterlife.']"
 "['\\nIn a city of anthropomorphic animals, a rookie bunny cop and a cynical con artist fox must work together to uncover a conspiracy.']"
 "['\\nFound inside a shining stalk of bamboo by an old bamboo cutter and his wife, a tiny girl grows rapidly into an exquisite young lady. The mysterious young princess enthralls all who encounter her, but ultimately she must confront her fate, the punishment for her crime.']"
 "['\\nBen, a young Irish boy, and his little sister Saoirse, a girl who can turn into a seal, go on an adventure to free the fairies and save the spirit world.']"
 "['\\nA precocious and outspoken Iranian girl grows up during the Islamic Revolution.']"
 "['\\nWhile trying to lead a quiet suburban life, a family of undercover superheroes are forced into action to save the world.']"
 "['\\nConcurrent theatrical ending of the TV series Shin seiki evangerion (1995).']"
 "['\\nA pop singer gives up her career to become an actress, but she slowly goes insane when she starts being stalked by an obsessed fan and what seems to be a ghost of her past.']"
 "['\\nA kindhearted street urchin and a power-hungry Grand Vizier vie for a magic lamp that has the power to make their deepest wishes come true.']"
 '["\\nA prince cursed to spend his days as a hideous monster sets out to regain his humanity by earning a young woman\'s love."]'
 "['\\nA secret military project endangers Neo-Tokyo when it turns a biker gang member into a rampaging psychic psychopath who can only be stopped by a teenager, his gang of biker friends and a group of psychics.']"
 "['\\nA young boy and a girl with a magic crystal must race against pirates and foreign agents in a search for a legendary floating castle.']"
 "['\\nWarrior and pacifist Princess Nausicaä desperately struggles to prevent two warring nations from destroying themselves and their dying planet.']"
 '["\\nAn urbane fox cannot resist returning to his farm raiding ways and then must help his community survive the farmers\' retaliation."]'
 "['\\nA mean lord exiles fairytale creatures to the swamp of a grumpy ogre, who must go on a quest and rescue a princess for the lord in order to get his land back.']"
 "['\\nWhen Woody is stolen by a toy collector, Buzz and his friends set out on a rescue mission to save Woody before he becomes a museum toy property with his roundup gang Jessie, Prospector, and Bullseye.']"
 "['\\nA love story between a girl who loves reading books, and a boy who has previously checked out all of the library books she chooses.']"
 "['\\nA cyborg policewoman and her partner hunt a mysterious and powerful hacker called the Puppet Master.']"
 "['\\nJack Skellington, king of Halloween Town, discovers Christmas Town, but his attempts to bring Christmas to his home causes confusion.']"
 '["\\nGoku and Vegeta encounter Broly, a Saiyan warrior unlike any fighter they\'ve faced before."]'
 '["\\nSet in Japan, Isle of Dogs follows a boy\'s odyssey in search of his lost dog."]'
 '["\\nIn a story depicted in oil painted animation, a young man comes to the last hometown of painter Vincent van Gogh to deliver the troubled artist\'s final letter and ends up investigating his final days there."]'
 "['\\nA special bond develops between plus-sized inflatable robot Baymax and prodigy Hiro Hamada, who together team up with a group of friends to form a band of high-tech heroes.']"
 "['\\nWhen Hiccup and Toothless discover an ice cave that is home to hundreds of new wild dragons and the mysterious Dragon Rider, the two friends find themselves at the center of a battle to protect the peace.']"
 "['\\nOn Christmas Eve, three homeless people living on the streets of Tokyo discover a newborn baby among the trash and set out to find its parents.']"
 "['\\nA TV interviewer and his cameraman meet a former actress and travel through her memories and career.']"
 '["\\nA terrorist explosion releases a deadly virus on the masses, and it\'s up the bounty-hunting Bebop crew to catch the cold-blooded culprit."]'
 "['\\nA vagabond swordsman is aided by a beautiful ninja girl and a crafty spy in confronting a demonic clan of killers - with a ghost from his past as their leader - who are bent on overthrowing the Tokugawa Shogunate.']"
 "['\\nBatman is wrongly implicated in a series of murders of mob bosses actually done by a new vigilante assassin.']"
 "['\\nA young witch, on her mandatory year of independent life, finds fitting into a new community difficult while she supports herself by running an air courier service.']"
 "['\\nA young boy named Kubo must locate a magical suit of armour worn by his late father in order to defeat a vengeful spirit from the past.']"
 "['\\nIn 2001, Afghanistan is under the control of the Taliban. When her father is captured, a determined young girl disguises herself as a boy in order to provide for her family.']"
 '["\\nDue to 12 y.o. Anna\'s asthma, she\'s sent to stay with relatives of her guardian in the Japanese countryside. She likes to be alone, sketching. She befriends Marnie. Who is the mysterious, blonde Marnie."]'
 "['\\nAfter losing his mother, a young boy is sent to an orphanage with other orphans his age where he begins to learn the meaning of trust and true love.']"
 "['\\nA look at the life of Jiro Horikoshi, the man who designed Japanese fighter planes during World War II.']"
 '[\'\\nWhen a new toy called "Forky" joins Woody and the gang, a road trip alongside old and new friends reveals how big the world can be for a toy.\']'
 "['\\nA video game villain wants to be a hero and sets out to fulfill his dream, but his quest brings havoc to the whole arcade where he lives.']"
 "['\\nA little girl lives in a very grown-up world with her mother, who tries to prepare her for it. Her neighbor, the Aviator, introduces the girl to an extraordinary world where anything is possible, the world of the Little Prince.']"
 '[\'\\nAn ordinary LEGO construction worker, thought to be the prophesied as "special", is recruited to join a quest to stop an evil tyrant from gluing the LEGO universe into eternal stasis.\']'
 '["\\nWhen a machine that allows therapists to enter their patients\' dreams is stolen, all hell breaks loose. Only a young female therapist, Paprika, can stop it."]'
 "['\\nA high-school girl named Makoto acquires the power to travel back in time, and decides to use it for her own personal benefits. Little does she know that she is affecting the lives of others just as much as she is her own.']"
 "['\\nThe magically long-haired Rapunzel has spent her entire life in a tower, but now that a runaway thief has stumbled upon her, she is about to discover the world for the first time, and who she really is.']"
 "['\\nAn adventurous 11-year-old girl finds another world that is a strangely idealized version of her frustrating home, but it has sinister secrets.']"
 "['\\nWhen her grandson is kidnapped during the Tour de France, Madame Souza and her beloved pooch Bruno team up with the Belleville Sisters--an aged song-and-dance team from the days of Fred Astaire--to rescue him.']"
 "['\\nA man shuffles through a dream meeting various people and discussing the meanings and purposes of the universe.']"
 "['\\nWhen Stan Marsh and his friends go see an R-rated movie, they start cursing and their parents think that Canada is to blame.']"
 "['\\nIn 1930s Italy, a veteran World War I pilot is cursed to look like an anthropomorphic pig.']"
 '["\\nA toon-hating detective is a cartoon rabbit\'s only hope to prove his innocence when he is accused of murder."]'
 "['\\nOn a faraway planet where blue giants rule, oppressed humanoids rebel against their machine-like leaders.']"
 "['\\nA collection of animated interpretations of great works of Western classical music, ranging from the abstract to depictions of mythology and fantasy, and settings including the prehistoric, supernatural and sacred.']"
 '["\\nA quirky, dysfunctional family\'s road trip is upended when they find themselves in the middle of the robot apocalypse and suddenly become humanity\'s unlikeliest last hope."]'
 "['\\nThe Incredibles family takes on a new mission which involves a change in family roles: Bob Parr (Mr. Incredible) must manage the house while his wife Helen (Elastigirl) goes out to save the world.']"
 '["\\nIn Ancient Polynesia, when a terrible curse incurred by the Demigod Maui reaches Moana\'s island, she answers the Ocean\'s call to seek out the Demigod to set things right."]'
 "['\\nWhen a criminal mastermind uses a trio of orphan girls as pawns for a grand scheme, he finds their love is profoundly changing him for the better.']"
 "['\\nA five-year-old boy develops a relationship with Ponyo, a young goldfish princess who longs to become a human after falling in love with him.']"
 '["\\nTo everyone\'s surprise, including his own, Po, an overweight, clumsy panda, is chosen as protector of the Valley of Peace. His suitability will soon be tested as the valley\'s arch-enemy is on his way."]'
 '["\\nTo save her father from death in the army, a young maiden secretly goes in his place and becomes one of China\'s greatest heroines in the process."]'
 '["\\nA mermaid princess makes a Faustian bargain in an attempt to become human and win a prince\'s love."]'
 "['\\nBagheera the Panther and Baloo the Bear have a difficult time trying to convince a boy to leave the jungle for human civilization.']"
 "['\\nExiled into the dangerous forest by her wicked stepmother, a princess is rescued by seven dwarf miners who make her part of their household.']"]

Количество уникальных значений признака Description: 85

Уникальные значения признака Runtime:
['125 min' '88 min' '89 min' '106 min' '117 min' '105 min' '98 min'
 '134 min' '96 min' '103 min' '81 min' '95 min' '119 min' '100 min'
 '130 min' '92 min' '111 min' '86 min' '108 min' '137 min' '93 min'

In [10]:
data.columns = [c.lower() for c in data.columns]
data.columns

Index(['title', 'rating', 'votes', 'gross', 'genre', 'metascore',
       'certificate', 'director', 'year', 'description', 'runtime'],
      dtype='object')

In [11]:
data[data['rating'] > 8.][['title', 'metascore', 'director', 'year']].head(10)

                               title  metascore         director  year
0      Sen to Chihiro no kamikakushi       96.0   Hayao Miyazaki  2001
1                      The Lion King       88.0     Roger Allers  1994
2                     Hotaru no haka       94.0    Isao Takahata  1988
3                     Kimi no na wa.       79.0   Makoto Shinkai  2016
4  Spider-Man: Into the Spider-Verse       87.0  Bob Persichetti  2018
5                               Coco       81.0      Lee Unkrich  2017
6                             WALL·E       95.0   Andrew Stanton  2008
7                      Mononoke-hime       76.0   Hayao Miyazaki  1997
8                                 Up       88.0      Pete Docter  2009
9                        Toy Story 3       92.0      Lee Unkrich  2010

In [12]:
data[(data['gross'].isnull()) & (data['metascore'].isnull()) & (data['certificate'].isnull())]

,title,rating,votes,gross,genre,metascore,certificate,director,year,description,runtime
18,Mary and Max.,8.1,"176,615",NaN,"Comedy, Drama",NaN,NaN,Adam Elliot,2009,['\nA tale of friendship between two unlikely ...,92 min

In [13]:
data['hours'] = [round(float(i.split()[0]) / 60, 2) for i in data['runtime']]
data.head()

,title,rating,votes,gross,genre,metascore,certificate,director,year,description,runtime,hours
0,Sen to Chihiro no kamikakushi,8.6,"747,148",$10.06M,"Adventure, Family",96.0,U,Hayao Miyazaki,2001,"[""\nDuring her family's move to the suburbs, a...",125 min,2.08
1,The Lion King,8.5,"1,041,158",$422.78M,"Adventure, Drama",88.0,U,Roger Allers,1994,['\nLion prince Simba and his father are targe...,88 min,1.47
2,Hotaru no haka,8.5,"272,469",NaN,"Drama, War",94.0,U,Isao Takahata,1988,['\nA young boy and his little sister struggle...,89 min,1.48
3,Kimi no na wa.,8.4,"259,975",$5.02M,"Drama, Fantasy",79.0,U,Makoto Shinkai,2016,['\nTwo strangers find themselves linked in a ...,106 min,1.77
4,Spider-Man: Into the Spider-Verse,8.4,"510,227",$190.24M,"Action, Adventure",87.0,U,Bob Persichetti,2018,['\nTeen Miles Morales becomes the Spider-Man ...,117 min,1.95

In [14]:
data.groupby(['genre'])['title'].count()

genre
 Action, Adventure     14
 Action, Crime          2
 Action, Drama          2
 Adventure, Comedy     30
 Adventure, Drama       3
 Adventure, Family      7
 Adventure, Fantasy     1
 Adventure, Sci-Fi      1
 Biography, Crime       1
 Biography, Drama       2
 Comedy, Drama          3
 Comedy, Family         1
 Comedy, Fantasy        1
 Crime, Drama           1
 Drama                  1
 Drama, Family          6
 Drama, Fantasy         4
 Drama, War             1
 Family, Fantasy        3
 Sci-Fi                 1
Name: title, dtype: int64

### Numpy

Вычислить A + B, A - B
 
$\\
A = \left(
\begin{array}{cccc}
1 & -2 & 4\\
2 & 0 & -1\\
\end{array}
\right), B = \left(
\begin{array}{cccc}
5 & 2 & 3\\
4 & 6 & 2\\
\end{array}
\right)$

In [15]:
A = np.array([[1, -2, 4],
              [2, 0, -1]])
B = np.array([[5, 2, 3],
              [4, 6, 2]])

In [16]:
A + B

array([[6, 0, 7],
       [6, 6, 1]])

In [17]:
A - B

array([[-4, -4,  1],
       [-2, -6, -3]])

Найти матрицу С = A - 3B
 
$\\
A = \left(
\begin{array}{cccc}
1 & 2 \\
2 & -1\\
3 & 0\\
\end{array}
\right), B = \left(
\begin{array}{cccc}
-1 & 1 \\
1 & 2\\
0 & 0\\
\end{array}
\right)$

In [18]:
A = np.array([[1, 2],
              [2, -1],
              [3, 0]])
B = np.array([[-1, 1],
              [1, 2],
              [0, 0]])

In [19]:
A - 3 * B

array([[ 4, -1],
       [-1, -7],
       [ 3,  0]])

Вычислить С = AB
 
$\\
A = \left(
\begin{array}{cccc}
1 & -1 \\
2 & 0\\
3 & 0\\
\end{array}
\right), B = \left(
\begin{array}{cccc}
1 & 1 \\
2 & 0\\
\end{array}
\right)$

In [20]:
A = np.array([[1, -1],
              [2, 0],
              [3, 0]])
B = np.array([[1, 1],
              [2, 0]])

In [21]:
A @ B

array([[-1,  1],
       [ 2,  2],
       [ 3,  3]])

In [22]:
np.dot(A, B)

array([[-1,  1],
       [ 2,  2],
       [ 3,  3]])

Вычислить определитель матрицы А
 
$\\
A = \left(
\begin{array}{cccc}
6 & -1 & 4\\
2 & 1 & 10\\
8 & 0 & 2\\
\end{array}
\right)$

In [23]:
A = np.array([[6, -1, 4],
              [2, 1, 10],
              [8, 0, 2]])

In [24]:
np.linalg.det(A)

-95.99999999999999

Вычислить матрицу, обратную матрице А. И показать, что она действительно является обратной
 
$\\
A = \left(
\begin{array}{cccc}
3 & 3 & -1\\
4 & 1 & 3\\
1 & -2 & -2\\
\end{array}
\right)$

In [25]:
A = np.array([[3, 3, -1],
              [4, 1, 3],
              [1, -2, -2]])

In [26]:
A_inv = np.linalg.inv(A)
A_inv

array([[ 0.07407407,  0.14814815,  0.18518519],
       [ 0.2037037 , -0.09259259, -0.24074074],
       [-0.16666667,  0.16666667, -0.16666667]])

In [27]:
(A @ A_inv).round()

array([[ 1., -0.,  0.],
       [ 0.,  1.,  0.],
       [-0.,  0.,  1.]])

In [28]:
np.dot(A, A_inv).round()

array([[ 1., -0.,  0.],
       [ 0.,  1.,  0.],
       [-0.,  0.,  1.]])